<script src="{{ "/htmlwidgets_deps/htmlwidgets-0.6/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.11.1/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/datatables-binding-0.1/datatables.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/datatables-1.10.7/jquery.dataTables.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/datatables-default-1.10.7/dataTables.extra.css" | prepend: site.baseurl }}" rel="stylesheet" />
<link href="{{ "/htmlwidgets_deps/datatables-default-1.10.7/jquery.dataTables.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
